.login {
    grid-row: 2;
    background-color: #E7DFDD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form {
    margin: 0;
}

.login a {
    color: #0E0B16;
    margin-top: 10px;
}