.modal {
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding-left: 20px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success {
    background-color: #31b661;
}

.error {
    background-color: #b63131;
}

.close {
    margin-right: 20px;
}

.close:hover {
    cursor: pointer;
}