.new-post {
    grid-row: 2;
    background-color: #E7DFDD;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post form {
    margin-top: 0px;
    width: 300px;
}