.posts {
    grid-row: 2;
    background-color: #E7DFDD;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.posts h1 {
    text-align: center;
}

.post-controls {
    margin: 0 auto;
}

#add-post {
    color: #0E0B16;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 10px;
}

.post p, h4 {
    margin-top: 0;
}

.description {
    max-height: 150px;
    overflow-y: auto;
}

.author {
    background-color: #e2e6e3;
}

.post h3 {
    margin-top: 0;
}

.detail {
    display: flex;
}

.price-title {
    font-weight: bold;
}

.content {
    margin-left: 5px;
}

button {
    margin-top: 15px;
}